elmer.interface.web.host           = localhost
elmer.interface.web.port           = 8080

elmer.broker.url    = "https://ether.at-labs.at-internal.com/order/request"


elmer {
  actor-timeout {
    web-request      = 300s
    broker           = 270s
  }

  queues {
    load-shedding {
      max-latency    = 60s
      backoff-factor = 10
    }
   }

   http {
        idle-timeout       = 300s
        request-timeout    = 270s
    }
}